<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список мест</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="content-wrapper">
    <div id="places">
        <div id="adder">
            <h1>Добавить место</h1>
            <input v-model="name" type="text" placeholder="Название*">
            <input v-model="address" type="text" placeholder="Адрес*">
            <button v-on:click="add(name, address)">Добавить</button>
        </div>
        <div id="list">
            <h1>Список мест</h1>
            <ul>
                <li class="element" v-for="place in places">
                    <input v-model="place.visited" type="checkbox" v-on:change="visit(place)">
                    <span v-bind:class="{ visited: place.visited }">{{place.name}}</span>
                    <br>
                    <span v-bind:class="{ visited: place.visited }">{{place.address}}</span>
                    <br>
                    <button v-on:click="remove(place)">Удалить</button>
                    <button v-on:click="go(place)">На карте</button>
                </li>
            </ul>
        </div>
    </div>
    <div id="map"></div>
</div>
</body>
</html>