body {
    font-family: SF-UI-Text-Light;
    background-color: beige;
    margin: 0;
}

button {
    font-family: SF-UI-Text-Semibold;
    background-color: gray;
    color: beige;
}

h1 {
    font-family: SF-UI-Text-Light;
    font-size: 28px;
    text-align: center;
}

input {
    margin: 5px;
}

.element {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    padding-bottom: 5px;
    list-style-type: none;
}

.visited {
    color: gray;
}

#map {
    width: 80%;
    height: 100vh;
    flex-grow: 3;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: darkgray;
}

#content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#places {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 20%;
}

#adder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
}

#list {
    height: 70%;
    overflow: overlay;
}

@font-face {
    font-family: SF-UI-Text-Light;
    src: url(./fonts/SF-UI-Text-Light.otf);
}

@font-face {
    font-family: SF-UI-Text-Regular;
    src: url(./fonts/SF-UI-Text-Regular.otf);
}

@font-face {
    font-family: SF-UI-Text-Semibold;
    src: url(./fonts/SF-UI-Text-Semibold.otf);
}